@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html, body {
    background-color: #f5f7fb;
    color: #111827;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }
}
